//colors
$color-primary: #BEA966;
$color-primary-light: #000000;
//$color-primary-light: blue;
$color-primary-dark: #28b485;

$color-secondary-light: #cebb02;
$color-secondary-dark: #030303;

$color-tertiary-lighr: #DEA300;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

;
$color-white:#fff;
$color-black:#000;





$color-1: #029472;
$color-2: rgba(2, 148, 114, 0.71);
$color-3: #029472;



//font
$default-font-size: 1.6rem;


$color-flag-1: #029472;
$color-flag-2: #D11927;
$color-flag-3: #DEA300;
$color-flag-4: #0A9C83;
$color-flag-5: #FFF31D;
// grid


$grid-width: 125rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 1rem;

$gutter-horizontal: 1rem;


/* SCSS HEX */



$royal-blue-dark: #029472;
$dark-cornflower-blue: #000000;
$usafa-blue: #029472;
$mikado-yellow: #FFF31D;
$cyber-yellow: #DEA300;

