<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>



<div class="form-group">

    <input type="checkbox"  class="form-control help-type" id="help-type-1" name="help-type-1">

    <label for="help-type-1">Genero Alimenticios</label>

    <div class="values">
        <div class="form-group">
            <label for="g-ali-qtd">Quantidade</label>
            <input type="number"  class="form-control" id="g-ali-qtd" name="g-ali-qtd">
        </div>
        <div class="form-group">
            <label for="g-ali-designacao">Designação</label>
            <input type="text" class="form-control"  id="g-ali-designacao" name="g-ali-designacao">
        </div>
    </div>
</div>



<div class="form-group">



    <input type="checkbox"  class="form-control help-type" id="help-type-2" name="help-type-2">
    <label for="help-type-2">Bens Materias</label>

    <div class="values">
        <div class="form-group">
            <label for="b-mat-qtd">Quantidade</label>
            <input type="number"  class="form-control" id="b-mat-qtd" name="b-mat-qtd">
        </div>
        <div class="form-group">
            <label for="b-mat-designacao">Designação</label>
            <input type="text"  class="form-control" id="b-mat-designacao" name="b-mat-designacao">
        </div>
    </div>

</div>

<div class="form-group">



    <input type="checkbox"  class="form-control help-type" id="help-type-3" name="help-type-3">
    <label for="help-type-3">Valor Monetario</label>



    <div class="values">
        <div class="form-group">
            <label for="monetario-qtd">Valor</label>
            <input type="number"  class="form-control" id="monetario-qtd" name="monetario-qtd">
        </div>
        <div class="form-group">
            <label for="money-designacao">Moeda</label>
            <input type="text" id="money-designacao" class="form-control" name="money-designacao" value="Dobra" readonly>

        </div>
    </div>

</div>

<div class="form-group">

    <input type="checkbox" class="form-control help-type" id="help-type-4" name="help-type-4">
    <label for="help-type-4">Outros</label>

    <div class="values">
        <div class="form-group">
            <label for="text">Descrição de Ajuda</label>
            <textarea required name="text" id="text" class="form-control"></textarea>
        </div>

    </div>
</div>



</body>
</html>